
#ContentPanel
{
	height: 80%;
}
#LogBar
{
	display: block;
	font-family: monospace;
	font-size: 12px;
	padding: 2px;
	text-align: left;
	width: 50%;
	height: 100%;
	overflow-y: scroll;
	float: left;
}
#LogBar .log-item
{
	clear: both;
}
body[state='Running'] #StatusBar
{
	background-color: #CCFFAA;
}
body[state='Paused'] #StatusBar
{
	background-color: #FFEECC;
}
body[state='Aborted'] #StatusBar
{
	background-color: #FFD0FF;
}
body[state='Completed'] #StatusBar
{
	background-color: #CCEEFF;
}
.toolbar .menuitem.run
{

}
body[state='ready'] .menuitem.run
{
	display: block;
}
#StatusBar
{
	font-size: 45px;
	color: #aaa;
}
#StatusBar .sbar-elem
{
	display: inline-block;
	padding: 0px 10px;
}
#StatusBar .coord span, #StatusBar .program-state span
{
	padding-left: 20px;
}
#StatusBar .program-state span
{
	color: black;
}
div.x-coord
{
	color: blue;
}
div.y-coord
{
	color: darkmagenta;
}
div.z-coord
{
	color: green;
}
div.speed
{
	color: darkorange;
}
div.command
{
	color: navy;
	font-weight: bold;
}



.line-numbers
{
	width: 30px;
	float: left;
	text-align: right;
	padding-right: 5px;
	color: #aaa;
	font-weight: bold;
}

.line-numbers .line-num.error
{
	color: red;
}

#ProgramArea
{
	width: 343px;
	margin-left: 10px;
	font-size: 14px;
	font-family: monospace;
	height: 100%;
	float: left;
}

#ProgramArea textarea
{
	height: 99%;
	float: left;
	width: 308px;
	border: none;
}


.tab{
	height: 100%;	
	border : solid 1px gray;
	width: 100%;
}

.tab-btn{
	float: left;
	padding: 3px 10px;
	border-top : solid 1px gray;
	border-left : solid 1px gray;
	border-right : solid 1px gray;
	border-radius : 5px 5px 0px 0px;
	cursor: pointer;
}


.tab-btn.active{
	background-color: yellow;
	margin-bottom: -1px;
}


#ProgramResult
{
	width: 280px;
	float: left;
	text-align: left;
}
#ProgramResultCode.error
{
	border-top: solid 8px red;
}

#ProgramResult .prog-line.error
{
	background-color: red;
}

#ProgramResult .prog-line.current
{
	background-color: #cfa;
}

#ProgramResult .prog-line.prepared
{
	background-color: #FFA;
}

#ProgramResult .prog-line.finished
{
	background-color: #eee;
}

#ProgramResult .prog-line.warning
{
	background-color: darkorange;
}

#ProgramResult .code-elem
{
	display: inline-block;
	padding-right: 10px;
	text-align: left;
	min-width: 40px;
}

#ProgramResult .code-elem.command
{
	width: 15px;
	min-width: 15px;
}

body.busy .menuitem
{
	display: none;
}

#prewiewer
{
	border: solid 1px gray;
	background-color: black;
	float: right;
}

#ProgramLog 
{
	width: 200px;
	float: left;
	text-align: left;
	padding: 0px 10px;
	color: #aaa;
}

#ProgramLog .log.error
{
	color: red;
}


#ProgramLog .log:hover{
	color: black;	
}

#ProgramLog .log .item
{
	display:inline-block;
	padding: 0px 3px;
}

#SvgExporter
{
	display: inline-block;
	padding-right: 10px;
	text-align: left;
	min-width: 40px;
}

#CsvExporter
{
	display: inline-block;
	padding-right: 10px;
	text-align: left;
	min-width: 40px;
}

.moving-btn{
	 background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid silver;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    float: left;
    font-size: 10px;
    height: 50px;
    margin: 2px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 50px;
}


